In [9]:
import pandas as pd 
from scipy import stats as s
import pandas as pd 
import numpy as np
import statistics
from sklearn.model_selection import train_test_split
import random
from scipy import stats as s
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

In [10]:
class New:
  data1 = []
  data=[]
  numclass=[]
  max={}
  min={}
  target = []
  def fi(self,X,Y):
    self.data = pd.concat([X, Y], axis=1, ignore_index=True)
    self.data1=X
    self.target=Y.unique()
    for i in self.target:
      temp=self.data[Y==i]
      temp=temp.iloc[: , :-1]
      self.max[i]=temp.max()
      self.min[i]=temp.min()

  def pre(self,X):
    y_predict=[]
    for l in range(X.shape[0]):
      predict=[]
      for j in self.target:
        for k in range(X.shape[1]):
          if self.max[j][k]>=X.iloc[l,k] and self.min[j][k]<=X.iloc[l,k]:
            predict.append(j)
      y_predict.append((s.mode(predict)[0]))  
    return y_predict

In [11]:
data=pd.read_csv('diabetes2.csv')
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
X = data.drop("Outcome", axis=1)
Y = data["Outcome"]
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)
model=New()
model.fi(X_train,Y_train)
y_predict=model.pre(X_test)
print(accuracy_score(Y_test,y_predict)*100)

65.5844155844156

In [13]:
data=pd.read_csv('framingham.csv')
data.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4133.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,1.978950,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,1.019791,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [14]:
X = data.drop("TenYearCHD", axis=1)
Y = data["TenYearCHD"]
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)
model=New()
model.fi(X_train,Y_train)
y_predict=model.pre(X_test)
print(accuracy_score(Y_test,y_predict)*100)

85.61320754716981

In [15]:
data=pd.read_csv('winequality-red.csv')
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [16]:
X = data.drop("quality", axis=1)
Y = data["quality"]
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)
model=New()
model.fi(X_train,Y_train)
y_predict=model.pre(X_test)
print(accuracy_score(Y_test,y_predict)*100)

10.9375